main {
    font-family:serif;
    font-size: 18px;
    max-width: 500px;
    /* max-width: 18em; */ /* Maximum without images overlapping... */
}

@media screen and (min-width: 1001px) {
 main {
    margin-left: 660px;
    margin-right: 5em;
    max-width: 35em;
 }
 .pagenum {
    position: absolute;
    left: 1%;      /* right margin from the containing box */
 }

 .pagenum img {
    width: 630px;
 }
}

@media screen and (max-width: 1000px) {
  .pagenum img {
      display: block;
      /* center, full-width */
      /*
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
     */
  }
}

.pagenum img {
   border: 1px solid red;
}

pre {
    font-family: serif;
    margin-left: 25%;
    margin-bottom: -0.3em;
    margin-top: -0.3em;
}

p.parbreak {
    margin-top: -4px;
    margin-bottom: -4px;
    line-height: 0.0px;
    height: 0.0px;
}

h1, h2 {
    font-variant: small-caps;
    /* text-transform: lowercase; */
    /* letter-spacing: 0.1em; */
}
