main {
    font-family: serif;
    font-size: 18px;
    max-width: 35rem;
}

.pagenum img {
    border: 1px solid red;
}

/* On a narrow screen, the image occupies full width. */
@media screen and (max-width: 959px) {
    .pagenum img {
        display: block;
        /* The same width as "main" */
        width: 35rem;
    }
}

/* On a sufficiently wide screen, we can display the prose to the right of the (floated-left) images. */
@media screen and (min-width: 960px) {
    main {
        margin-left: 660px;
        margin-right: 5em;
    }

    .pagenum {
        position: absolute;
        /* This means right margin from the containing box */
        left: 1%;
    }

    /* Doesn't seem to apply to lazy-loaded images though! */
    .pagenum img {
        width: 630px;
    }
}

/* We use <pre>...</pre> for verses. */
pre {
    font-family: serif;
    margin-left: 25%;
    margin-bottom: -0.3em;
    margin-top: -0.3em;
}

/* An empty paragraph inserted between paragraphs (I don't remember why), but we want it to not take height. */
p.parbreak {
    margin-top: -4px;
    margin-bottom: -4px;
    line-height: 0.0px;
    height: 0.0px;
}

/* Just matching the style of Ryder's original I think? */
h1,
h2 {
    font-variant: small-caps;
}