main {
    font-family:serif;
    /* max-width: 500px; */
    font-size: 18px;
}

@media screen and (min-width: 1001px) {
 main {
     /* margin-left: calc(100vw - 630px); */
     margin-left: 960px;
     margin-right: 5em /* = 90px */;
     max-width: 35em  /* = 630px */;
 }

 .pagenum {
     /* width: calc(100vw - 650px); */
     /* border: 1px solid blue; */
     position: absolute;
     left: 1%;      /* right margin from the containing box */
 }

 .pagenum img {
     width: 930px;
     /* width: calc(100vw - 650px); */

 }
}

@media screen and (max-width: 1000px) {
    .pagenum {
	/* border: 1px solid blue; */
	display: block;
	width: 100vw;
	margin-bottom: 1em;
	margin-top: 1em;
	/* margin-left: -50vw; */
	/* margin-right: -50vw; */
	/* left: 50%; */
	/* right: 50%; */

    }

  .pagenum img {
      display: block;
      width: 100vw;
      /* center, full-width */
      /*
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
     */
  }
}

.pagenum img {
   border: 1px solid red;
}

pre {
    font-family: serif;
    margin-left: 25%;
    margin-bottom: -0.3em;
    margin-top: -0.3em;
}

p.parbreak {
    margin-top: -4px;
    margin-bottom: -4px;
    line-height: 0.0px;
    height: 0.0px;
}

h1, h2 {
    font-variant: small-caps;
    /* text-transform: lowercase; */
    /* letter-spacing: 0.1em; */
}
